
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_HomeLayoutPage1.cshtml";
}

<!--hakkimizda-->
<div class="container-fluid">

    <section class="about">
        <div class="contentBx">
            <h2 class="headingt">Hakkımızda</h2>
            <p class="text1">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nam aliquid illum laborum ex temporibus facere consectetur odit culpa
                reprehenderit perferendis, velit quae ad eligendi at molestiae voluptatem dolorem aspernatur perspiciatis laudantium veniam. Voluptatem dolor in corrupti fugit labore accusamus deleniti quidem, excepturi,
                quam inventore temporibus perferendis laudantium, pariatur <br> <br> quo!Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nam aliquid illum laborum ex temporibus facere consectetur odit culpa
                reprehenderit perferendis, velit quae ad eligendi at molestiae voluptatem dolorem aspernatur perspiciatis laudantium veniam. Voluptatem dolor in corrupti fugit labore accusamus deleniti quidem, excepturi,
                quam inventore temporibus perferendis laudantium, pariatur quo!
            </p>
        </div>
        <div class="imgBx">
        </div>
    </section>
</div>
<br>
<!--hakkimizda-->
