body {
    background-color: rgb(250, 241, 244);
}

/*nav&slide*/
.carousel-inner {
    border-radius: 20px;
}


.navbar {
    background: rgba(5, 5, 5, 0.8);
}

    .navbar .btn {
        border-radius: 10px;
    }
/*nav&slide*/

/*hakkimizda*/
.about {
    position: relative;
    width: 100%;
    display: flex;
}

    .about .contentBx {
        background: #faffff;
        padding: 100px;
        width: 50%;
        border-radius: 20px;
    }

.headingt {
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-align: center;
}

.text1 {
    color: rgb(14, 13, 13);
    font-size: 15px;
    letter-spacing: 1px;
}

.about .imgBx {
background:url(resimler/trravel.jpg);
width: 50%;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}
/*hakkimizda*/

/*hizmetlerimiz*/
.services {
    background: #41464b;
    padding: 100px;
    text-align: center;
    border-radius: 20px;
}

.heading {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-align: center;
}

.text {
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
}

.services .container1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

    .services .container1 .serviceBx {
        position: relative;
        background: #fff;
        width: 350px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
    }
/*hizmetlerimiz*/

/*geziler*/

.container {
    width: 1380px;
    margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
}
    .container .box {
        position: relative;
        width: 300px;
        height: 300px;
        margin: 10px;
        box-sizing: border-box;
        display: inline-block;
    }

        .container .box .imgbox {
            position: relative;
            overflow: hidden;
            border-radius: 10px;
        }

            .container .box .imgbox img {
                max-width: 100%;
                transition: transform 2s;
            }

        .container .box:hover .imgbox img {
            transform: scale(1.2);
        }

        .container .box .details {
            position: absolute;
            top: 10px;
            left: 10px;
            bottom: 10px;
            right: 10px;
            background: rgba(15, 14, 14, 0.8);
            transform: scaleY(0);
            transition: transform .3s;
            border-radius: 10px;
        }

        .container .box:hover .details {
            transform: scaleY(1);
        }

        .container .box .details .content {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding: 15px;
            color: #fff;
        }

            .container .box .details .content h2 {
                margin: 0;
                padding: 0;
                font-size: 25px;
                color: rgb(119, 191, 250);
            }

            .container .box .details .content b {
                margin: 10px 0 0;
                padding: 0;
            }

.titlepage {
    text-align: center;
}

    .titlepage h2 {
        padding: 0px 0px 6px 0px;
        font-size: 40px;
        color: #111;
        line-height: 46px;
        width: 410px;
        margin: 0 auto;
        margin-bottom: 0px;
        margin-bottom: 20px;
    }

    .titlepage span {
        color: #3d3c3c;
        font-size: 20px;
        line-height: 30px;
    }
/*geziler*/


/*footer*/

footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "open sans";
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

    .footer-content h3 {
        font-size: 1.8rem;
        font-weight: 400;
        text-transform: capitalize;
        line-height: 3rem;
    }

    .footer-content p {
        max-width: 500px;
        margin: 10px auto;
        line-height: 28px;
        font-size: 14px;
    }

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

    .socials li {
        margin: 0 10px;
    }

    .socials a {
        text-decoration: none;
        color: #fff;
    }

        .socials a i {
            font-size: 1rem;
            transform: color .4s ease;
        }

        .socials a:hover i {
            color: aqua;
        }

.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

    .footer-bottom p {
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
    }

    .footer-bottom span {
        text-transform: uppercase;
        opacity: .4;
        font-weight: 200;
    }

/*footer*/

/*responsive*/
@media(max-width:991px) {
    .about {
        flex-direction: column;
    }

        .about .contentBx,
        .about .imgBx {
            width: 100%;
            padding: 50px;
            min-height: 400px;
            text-align: center;
        }

    .services {
        padding: 50px;
    }

        .services .container1 {
            justify-content: center;
            margin-top: 20px;
        }

            .services .container1 .serviceBx {
                margin: 20px;
                width: 300px;
                height: 350px;
            }

    .container {
        padding: 50px;
        min-height: 400px;
        width: 100%;
    }

        .container .box {
            justify-content: center;
            margin: 20px;
            width: 300px;
            height: 350px;
        }

            .container .box .imgbox {
                margin: 20px;
                width: 300px;
                height: 350px;
            }

    
}

/*responsive*/

/*-----------------------------contact-------------------------------------*/
.container3 {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
}

    .container3:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: url("img/bg.jpg") no-repeat center;
        background-size: cover;
        filter: blur(50px);
        z-index: -1;
    }

.contact-box {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left {
    background:url(/resimler/cu.jpg) no-repeat center;
    background-size: cover;
    height: 100%;
}

.right {
    padding: 25px 40px;
}

 h2 {
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
}

   .right h2:after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        height: 4px;
        width: 50px;
        border-radius: 2px;
        background-color: #41464b;
    }

.field {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

    .field:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

.textarea {
    min-height: 150px;
}

.btn {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #6b93b1;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

    .btn:hover {
        background-color: #27ae60;
    }

.field:focus {
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px) {
    .contact-box {
        grid-template-columns: 1fr;
    }

    .left {
        height: 200px;
    }
}
/*--------------------------blog-------------------------------------------*/


.row .card{
    margin:20px;
}

.main-heading {
    text-align: center;
    padding-top: 1%;
    margin: 0 auto;
}

    .main-heading p {
        text-align: center;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 3%;
        letter-spacing: 2px;
    }





